@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-primary: #6096b4;
  --color-secondary: #bdcdd6;
  --color-danger: #b46060;
  --color-selected: #93bfcf;
  --color-background: #f3f1ea;
}
