<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <main class="flex flex-row gap-x-25 p-14">
      <div class="flex flex-col gap-y-5 text-2xl">
        <button type="button" class="btn secondary">Online room</button>
        <hr />
        <button type="button" class="btn secondary">Single elimination</button>
        <button type="button" class="btn third">Double elimination</button>
        <hr />
        <button type="button" class="btn secondary">1v1</button>
        <button type="button" class="btn third">1v1v1v1</button>
        <button type="button" class="btn third">2v2</button>
        <button type="button" class="btn third">Random</button>
        <hr />
        <button type="button" class="btn primary">Start</button>
        <a href="/"
          ><button type="button" class="btn danger w-full">Quit</button></a
        >
      </div>
      <div class="flex flex-col gap-y-5">
        <input
          type="text"
          class="bg-second rounded-sm py-1 text-center text-2xl focus:outline-hidden"
          value="My room 1"
        />
        <hr />
        <div
          class="bg-third mx-10 flex items-center rounded-sm text-center text-2xl"
        >
          <div class="flex-1">local</div>
          <hr class="vertical" />
          <button type="button" class="no-hover p-2 font-bold text-red-500">
            X
          </button>
        </div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="bg-second w-full py-2 text-center text-3xl">Images</div>
        <div
          class="flex flex-1 flex-col items-center justify-center bg-black/10 text-center text-3xl"
        >
          <div>Drag and drop images or</div>
          <button type="button" class="btn primary mt-2 px-20">Import</button>
        </div>
      </div>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
