<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body class="bg-background flex flex-col h-screen">
    <%- include('partials/header.ejs') %>
    <div
      class="text-white font-medium font-poppins text-3xl gap-y-6 flex flex-col items-center justify-center flex-1"
    >
      <a href="/create"
        ><button
          type="button"
          class="rounded-lg bg-primary px-6 py-2 hover:outline-black/20 hover:outline-3 active:bg-primary/90 min-w-xs hover:cursor-pointer"
        >
          Create room
        </button></a
      >
      <a href="/join">
        <button
          type="button"
          class="rounded-lg bg-primary px-6 py-2 hover:outline-black/20 hover:outline-3 active:bg-primary/90 min-w-xs hover:cursor-pointer"
        >
          Join room
        </button></a
      >
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
