<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <%- include('partials/header.ejs') %>
  <body class="bg-background">
    <div class="text-white font-medium font-poppins text-3xl grid">
      <button
        type="button"
        class="rounded-lg bg-primary px-6 py-2 hover:outline-3 active:bg-primary/80"
      >
        Create room
      </button>
      <button
        type="button"
        class="rounded-lg bg-primary px-6 py-2 hover:outline-3 active:bg-primary/80"
      >
        Join room
      </button>
    </div>
  </body>
</html>
