<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <main class="flex flex-col items-center justify-center gap-y-6 font-medium">
      <a href="/create" onclick="new PouchDB('images').destroy();"
        ><button type="button" class="btn primary min-w-xs">
          Create room
        </button></a
      >
      <a href="/join">
        <button type="button" class="btn primary min-w-xs">Join room</button></a
      >
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
