<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <main>
      <div class="flex h-full flex-col items-center justify-center gap-y-15">
        <div class="flex flex-row items-center justify-center gap-20">
          <label for="image1">
            <input
              type="radio"
              id="image1"
              name="image"
              class="peer invisible" />
            <div
              class="h-[20dvw] w-[30dvw] content-center bg-black/20 outline-4 outline-black/20 peer-checked:outline-green-500 hover:outline-green-300">
              <img class="h-full w-full object-contain" id="img1" />
            </div>
          </label>
          <p class="text-center text-5xl font-semibold">vs</p>
          <label for="image2">
            <input
              type="radio"
              id="image2"
              name="image"
              class="peer invisible" />
            <div
              class="h-[20dvw] w-[30dvw] content-center bg-black/20 outline-4 outline-black/20 peer-checked:outline-green-500 hover:outline-green-300">
              <img class="h-full w-full object-contain" id="img2" />
            </div>
          </label>
        </div>
        <button
          class="btn primary invisible"
          onclick="getAndLoadImagesFromRound();"
          id="nextButton">
          Next
        </button>
      </div>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
