<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <main>
      <div class="flex h-full flex-col items-center justify-center gap-y-15">
        <p class="text-4xl font-semibold">10s left</p>
        <div class="flex flex-row items-center justify-center gap-20">
          <div
            class="h-[20dvw] w-[30dvw] content-center bg-black/20 outline-4 outline-black/20"
          >
            <img
              src="https://placehold.co/500x500"
              alt="placeholder"
              class="h-full w-full object-contain"
            />
          </div>
          <p class="text-center text-5xl font-semibold">vs</p>
          <div
            class="h-[20dvw] w-[30dvw] content-center bg-black/20 outline-4 outline-black/20"
          >
            <img
              src="https://placehold.co/600x400"
              alt="placeholder"
              class="h-full w-full object-contain"
            />
          </div>
        </div>
      </div>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
